
h1{
	text-align: center;
	color: orange;
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	font-size: 80px;
 	-webkit-text-stroke: 1px black; text-shadow:3px 3px 0 #000,-1px -1px 0 #000,  1px -1px 0 #000,-1px  1px 0 #000,1px  1px 0 #000;
}

h3{
	margin-left: 20px;
	margin-bottom: 0;
}

.fbPic{
	width: 100px;
	height: 100px;
}

.fbPosition{
	position: fixed;
	margin: 0 auto;
}

.ulMenuBar{
	list-style-type: none;
	margin: 0;
   	padding: 0;
   	text-align: center;
}

.liMenuBar{
	letter-spacing: 2px;
	font-size: 23px;
	padding: 10px 0;
	margin: 0 20px;
	display: inline-block;
}

.homeGameList{
	text-align: center;
	list-style-type: none;
}

.socialMedia{
	float: right;
	margin-right: 20px;
	margin-left: 20px;
	height: 100px;
	width: 100px;

}

.menuBar{
	background-color:RoyalBlue;
	height: 40px;
	width: 60%;
	margin: 0 auto;
}

.line{
	background-color:RoyalBlue;
	height: 5px;
	width: 100%;
}

td,th{
	text-align: center;
	letter-spacing: 1px;
	border: 1px #000 solid;
}

footer{
	text-align: center;

}

a:hover{
	background-color:orange;
}

a:link{
	text-decoration: none;
}

p{
	font-family: Georgia, serif;
	margin-left: 20px;
	margin-right: 20px;
}

.center{
	width: 60%;
	margin: 0 auto;
	background-color: LightGrey;
	border: 2px #000 solid;
}

.imgSize{
	float:left;
	width: 400px;
	height: 300px;
	border: 2px #000 solid;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 10px
}

.imgSize2{
	float:right;
	width: 400px;
	height: 300px;
	border: 2px #000 solid;
	margin-right: 20px;
	margin-left: 20px;
}

.bgColor{
	background-image: url("http://1.cdn.nhle.com/islanders/v2/ext/backgrounds/tnh/NYI_TNH_WEBSITE_1900X2555_HALAK_AL.jpg");
}